.contact-top-section{
    display: flex;
    justify-content: space-between;
}

.contact-h2{
    max-width: 460px;
    width: 100%;
    line-height: 55px;
    padding-bottom: 4vh;
}

.contact-bread{
    max-width: 445px;
    width: 100%;
    line-height: 26px;
}
