.purpur-text{
    color: fonts.$color-purple;
}

.shoot-text{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 4vh;
}

.home-h2{
    max-width: 635px;
    width: 100%;
    line-height: 60px;
    display: inline-block;
}

.top-right-line{
    display: inline-block;
    position: relative;
    right: -200px;

    border-top: solid;
    border-width: 2px;
    font-style: italic;
    opacity: 0.6;
}

.home-middle-section{
    display: flex;
    justify-content: space-between;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.home-middle-sec-h3{
    max-width: 635px;
    width: 100%;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
}

.home-middle-list{
    font-size: 18px;
    opacity: 0.6;
    padding-right: 0.5vw;
}

li{
    padding-top: 1.5vh;
}

hr{
    height: 2px;
    background-color: #D8D8D8;
    border: none;
}

.awards-container{
    display: flex;
    justify-content: space-between;
    padding: 5vh 0 1vh 0;
}

.awards-title{
    font-size: 22px;
    font-weight: bold;
}

.awards-info-container{
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.awards-info{
    width: 33.3%;
}

.awards-info-bread{
    position: relative;
    top: -7px;
    right: -25px;
    max-width: 180px;
    width: 100%;
    line-height: 26px;
 }

 .boldtext{
    font-weight: bold;
 }

 .opas-06{
    opacity: 0.6;
 }

 .awards-year{
    text-align: right;
 }