.top-section{
    display: flex;
    justify-content: space-between;
}

.project-h2{
    max-width: 495px;
    width: 100%;    
    line-height: 55px;
}

.project-bread{
    margin-top: 3vh;
    margin-bottom: 2vh;
    max-width: 635px;
    width: 100%;
}

.project-top-right{
    display: flex;
    font-weight: bold;
}

.project-li{
    margin-right: 6vh;
    padding-bottom: 1vh;
    font-size: 18px;
}

.opas-05{
    opacity: 0.5;    
}

.three-img-section{
    display: flex;
    justify-content: space-between;
}