@use 'fonts';

@import 'header-footer'; 
@import 'projects';
@import 'main';
@import 'contact';
@import 'form';
@import 'image-grid';

body{
    display: flex;
    justify-content: center;
    font-family: fonts.$main-font;
    color: fonts.$main-textcolor;
}

.main-container{
    max-width: 1109px;
    width: 100%;
}

a{
    color:fonts.$main-textcolor;
}

p{
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
}

h2{
    font-size: 40px;
    font-weight: bold;
}

section{
    margin-bottom: 4vh;
}